.projectInfo-inlineLabel {
    display: inline;
    font-variant: small-caps;
    color: #666;
    font-size: 90%;
}

.repository, .institution, .collection, .msName, .idno, .settlement, .collection {
    display: block;
}
