<button [type]="type" (click)="clickButton($event)" 
    class="btn btn-sm {{additionalClasses}}" 
    [disabled]="disabled"
    [ngClass]="{
        'btn-light': !transparent,
        'shadow-sm': !transparent,
        transparent: transparent,
        active: active
    }"
  [ngStyle]="additionalStyle">
  <ng-content select="[label-left]"></ng-content>
  <evt-icon [iconInfo]="iconLeft" *ngIf="iconLeft"></evt-icon>
  {{ label }}
  <evt-icon [iconInfo]="iconRight" *ngIf="iconRight"></evt-icon>
</button>