<ng-select
    class="me-1"
    style="max-width: 200px;"
    [items]="editions$ | async"
    [title]="selectedEditionTitle$ | async"
    bindLabel="title"
    bindValue="id"
    [clearable]="false"
    [searchable]="true"
    [ngModel]="selectedEditionId$ | async"
    (change)="onEditionChanged($event.id)">
    <ng-template ng-label-tmp let-item="item">
        <evt-icon [iconInfo]="{icon: 'file-alt', additionalClasses: 'me-2'}" label-left></evt-icon>
        <span>{{ item.title }}</span>
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
        <div class="text-truncate" [title]="item.title">{{ item.title }}</div>
    </ng-template>
</ng-select>