<div class="btn-group shadow-sm" role="group">
    <button type="button" class="btn btn-sm btn-primary dropdown-toggle"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <ng-content select="[label-left]"></ng-content>
        <span #transcludedLabel class="mr-2"><ng-content select="[label]"></ng-content></span>
        <span *ngIf="!transcludedLabel || transcludedLabel.children.length === 0" class="mr-2"> 
            {{ getSelectedLabel() | translate }}
        </span>
    </button>
    <div class="dropdown-menu shadow-sm" [class.dropdown-menu-right]="alignRight">
        <span class="dropdown-item" 
            [class.active]="isActiveItem(item)"  
            [class.border-top]="item.id === 'all'"
            *ngFor="let item of getItems(); trackBy:id" [title]="item.label || item.title"
            (click)="toggleItem(item)">
            <ng-content select="[item-left]"></ng-content>
            {{ item.label | translate }}
            <ng-content select="[item-right]"></ng-content>
        </span>
    </div>
    </div>