<!--
   Check if the app entry is inside an app detail (nested app). In the app detail it's not necessary to render the entire app but only the lemma.
-->
<span *ngIf="!isInsideAppDetail" class="app-entry" [attr.data-variance]="variance$ | async" [ngClass]="{ 'app-detail-opened': opened }">
   <evt-reading class="app-entry-lem" *ngIf="data?.lemma" [data]="data.lemma" (click)="toggleAppEntryBox($event);" (clickOutside)="closeAppEntryBox()"></evt-reading>
   <evt-apparatus-entry-detail *ngIf="data?.lemma && opened" [data]="data" [nestedApps]="nestedApps"></evt-apparatus-entry-detail>
</span>