<!--
   Check if the app entry is inside an app detail (nested app). In the app detail it's not necessary to render the entire app but only the lemma.
-->
<span *ngIf="!isInsideAppDetail" class="app-entry" [attr.data-variance]="variance$ | async" [ngClass]="{ 'app-detail-opened': opened }">

   <!-- it renders readings in changesView only -->
   <ng-container *ngIf="editionLevel === 'changesView'">
      <evt-reading *ngFor="let reading of data?.readings" class="app-entry-rdg" [data]="reading" [evtHighlight]="highlightData$ | async" [editionLevel]="editionLevel" [withDeletions]="withDeletions" [selectedLayer]="selectedLayer" (click)="toggleAppEntryBox($event);"></evt-reading>
   </ng-container>

   <evt-reading class="app-entry-lem" *ngIf="data?.lemma" [data]="data.lemma" [evtHighlight]="highlightData$ | async" [editionLevel]="editionLevel" [withDeletions]="withDeletions" [selectedLayer]="selectedLayer" (click)="toggleAppEntryBox($event);"></evt-reading>
   <!-- The click event in "evt-apparatus-entry-detail" is used to manage nested apps -->
   <evt-apparatus-entry-detail *ngIf="data?.lemma && opened" [data]="data" (click)="stopPropagation($event)"></evt-apparatus-entry-detail>
</span>