@import '../../../assets/scss/themes';

.app-entry {
    &.app-detail-opened {
        > .app-entry-lem {
            position: relative;
            z-index: 1;
            padding-bottom: 0.313rem;
            @include themify($themes) {
                border: 1px solid themed('baseBorder');
                border-bottom: 0;
            }
        }
    }
}

.app-entry-lem {
    // TODO: Change background color when variance is handled
    @include themify($themes) {
        background-color: #ccc;
        //background-color: themed('appEntryBoxBackground');
    }
    cursor: pointer;
    .app-entry-lem {
        background-color: gray;
    }
}
