<span class="mod {{data.class}} pointer" title="mod"
    (click)="toggleOpened$.next()" 
    [ngClass]="{opened: opened$ | async}" 
    [evtEditorialConventionLayout]="editorialConventionData">
    <evt-content-viewer *ngFor="let element of data.content" 
        [hidden]="isHidden(element)" 
        [ngClass]="{'mod-reading': (data.insideApp[0] === false)}" 
        [content]="element"
        [editionLevel]="editionLevel" 
        [itemsToHighlight]="itemsToHighlight"
        [textFlow]="textFlow"
        [selectedLayer]="selectedLayer"
        [withDeletions]="withDeletions"
        [style.text-decoration-color]="changeLayerColor()">
    </evt-content-viewer>
</span>
<evt-mod-detail *ngIf="opened$ | async"
    [editionLevel]="editionLevel" 
    [evtHtmlAttributes]="data?.attributes"
    [mod]="data"
    [orderedLayers]="orderedLayers"
    [selectedLayer]="selectedLayer"
    (click)="stopPropagation($event)">
</evt-mod-detail>