.full-height {
    height: 100%;
}

::ng-deep .openseadragon-canvas {
    background: #000 !important;
}

::ng-deep .openseadragon-message {
    background: url("/assets/images/empty-image.jpg") no-repeat !important;
    background-size: 100% 100% !important;
    z-index: 999999;
    position: relative !important;

    * {
        display: none;
    }
}
