<span class="subst">
    <!-- deletions first -->
    <ng-container *ngFor="let el of data.content">
        <evt-content-viewer *ngIf="((withDeletions) && (el?.class === 'del' || el?.class === 'surplus'))"
            [content]="el" [editionLevel]="editionLevel" 
            [itemsToHighlight]="itemsToHighlight" [evtHighlight]="highlightData" [textFlow]="textFlow"
            [withDeletions]="withDeletions" [selectedLayer]="selectedLayer">
        </evt-content-viewer>
    </ng-container>
    <span *ngIf="substMarker && withDeletions" class="substMarker"> → </span>
    <ng-container *ngFor="let el of data.content">
        <evt-content-viewer *ngIf="el?.class !== 'del'" [content]="el" [editionLevel]="editionLevel" 
            [itemsToHighlight]="itemsToHighlight" [evtHighlight]="highlightData" [textFlow]="textFlow"
            [withDeletions]="withDeletions" [selectedLayer]="selectedLayer">
        </evt-content-viewer>
    </ng-container>
</span>