<span class="substitution">
    <ng-container *ngFor="let el of data.content">
        <evt-content-viewer *ngIf="((withDeletions) && (el?.type === DeletionType))"
            [content]="el" [editionLevel]="editionLevel" 
            [itemsToHighlight]="itemsToHighlight" [evtHighlight]="highlightData" [textFlow]="textFlow"
            [withDeletions]="withDeletions" [selectedLayer]="selectedLayer">
        </evt-content-viewer>
    </ng-container>
    <ng-container *ngFor="let el of data.content">
        <evt-content-viewer *ngIf="data?.type !== DeletionType" [content]="el" [editionLevel]="editionLevel" 
            [itemsToHighlight]="itemsToHighlight" [evtHighlight]="highlightData" [textFlow]="textFlow"
            [withDeletions]="withDeletions" [selectedLayer]="selectedLayer">
        </evt-content-viewer>
    </ng-container>
</span>