@font-face {
    font-family: 'evt-icons';
    src: url('/assets/fonts/evt-icons.eot?yo01vg');
    src: url('/assets/fonts/evt-icons.eot?yo01vg#iefix') format('embedded-opentype'),
        url('/assets/fonts/evt-icons.ttf?yo01vg') format('truetype'),
        url('/assets/fonts/evt-icons.woff?yo01vg') format('woff'),
        url('/assets/fonts/evt-icons.svg?yo01vg#evt-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="evt-icon-"],
[class*=" evt-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'evt-icons' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.evt-icon-files-empty:before {
    content: "\e93c";
}

.evt-icon-equalizer:before {
    content: "\e93d";
}

.evt-icon-square-o:before {
    content: "\e93e";
}

.evt-icon-copy:before {
    content: "\e93f";
}

.evt-icon-clone:before {
    content: "\e940";
}

.evt-icon-quote-right:before {
    content: "\e941";
}

.evt-icon-fork:before {
    content: "\e942";
}

.evt-icon-quote-left:before {
    content: "\e943";
}

.evt-icon-versions:before {
    content: "\e944";
}

.evt-icon-srcTxt:before {
    content: "\e945";
}

.evt-icon-bookreader:before {
    content: "\e904";
}

.evt-icon-collation:before {
    content: "\e908";
}

.evt-icon-imgTxt:before {
    content: "\e91c";
}

.evt-icon-txt:before {
    content: "\e92e";
}

.evt-icon-txtTxt:before {
    content: "\e92f";
}

.evt-icon-add:before {
    content: "\e900";
}

.evt-icon-book:before {
    content: "\e901";
}

.evt-icon-bookmark-alt:before {
    content: "\e902";
}

.evt-icon-bookmark:before {
    content: "\e903";
}

.evt-icon-books:before {
    content: "\e905";
}

.evt-icon-close:before {
    content: "\e906";
}

.evt-icon-code:before {
    content: "\e907";
}

.evt-icon-color-legend:before {
    content: "\e909";
}

.evt-icon-color-lens:before {
    content: "\e90a";
}

.evt-icon-colors-fill:before {
    content: "\e90b";
}

.evt-icon-copyright:before {
    content: "\e90c";
}

.evt-icon-drop-down:before {
    content: "\e90d";
}

.evt-icon-drop-up:before {
    content: "\e90e";
}

.evt-icon-filter:before {
    content: "\e90f";
}

.evt-icon-find-in-page:before {
    content: "\e910";
}

.evt-icon-font-size-minu-alt:before {
    content: "\e911";
}

.evt-icon-font-size-minus:before {
    content: "\e912";
}

.evt-icon-font-size-plus-alt:before {
    content: "\e913";
}

.evt-icon-font-size-plus:before {
    content: "\e914";
}

.evt-icon-font-size-reset:before {
    content: "\e915";
}

.evt-icon-fragment:before {
    content: "\e916";
}

.evt-icon-heatmap-alt:before {
    content: "\e917";
}

.evt-icon-heatmap:before {
    content: "\e918";
}

.evt-icon-help-alt:before {
    content: "\e919";
}

.evt-icon-help:before {
    content: "\e91a";
}

.evt-icon-hotspot:before {
    content: "\e91b";
}

.evt-icon-info-alt-r:before {
    content: "\e91d";
}

.evt-icon-info-alt-sq:before {
    content: "\e91e";
}

.evt-icon-info-alt:before {
    content: "\e91f";
}

.evt-icon-info:before {
    content: "\e920";
}

.evt-icon-link:before {
    content: "\e921";
}

.evt-icon-list-alt:before {
    content: "\e922";
}

.evt-icon-list:before {
    content: "\e923";
}

.evt-icon-mail:before {
    content: "\e924";
}

.evt-icon-menu:before {
    content: "\e925";
}

.evt-icon-paragraph:before {
    content: "\e929";
}

.evt-icon-search:before {
    content: "\e92d";
}

.evt-icon-zoom-fit:before {
    content: "\e930";
}

.evt-icon-zoom-in:before {
    content: "\e931";
}

.evt-icon-zoom-one:before {
    content: "\e932";
}

.evt-icon-zoom-out:before {
    content: "\e933";
}

.evt-icon-zoom:before {
    content: "\e934";
}

.evt-icon-align:before {
    content: "\e935";
}

.evt-icon-bookmark-alt2:before {
    content: "\e936";
}

.evt-icon-bookreader-alt:before {
    content: "\e937";
}

.evt-icon-font-size-minus-alt:before {
    content: "\e938";
}

.evt-icon-font-size-reset-alt:before {
    content: "\e939";
}

.evt-icon-font-size:before {
    content: "\e93a";
}

.evt-icon-thumbnails:before {
    content: "\e93b";
}