<div class="card ne-container {{ data.namedEntityType }}" (click)="tabSelected($event)" [ngClass]="{
        inList: inList, 
        contentOpened: contentOpened
    }" *ngIf="data">
    <div class="card-header ne-header" (click)="toggleContent()">
        <evt-icon *ngIf="inList && contentOpened"
            [iconInfo]="{ icon: 'caret-down', additionalClasses: 'icon toggler mr-2'}">
        </evt-icon>
        <evt-icon *ngIf="inList && !contentOpened"
            [iconInfo]="{icon: 'caret-right', additionalClasses: 'icon toggler mr-2'}"></evt-icon>
        <evt-icon *ngIf="data.namedEntityType === 'person'"
            [iconInfo]="{icon: 'user', additionalClasses: 'icon mr-1'}"></evt-icon>
        <evt-icon *ngIf="data.namedEntityType === 'place'"
            [iconInfo]="{icon: 'map-marker', additionalClasses: 'icon mr-1'}">
        </evt-icon>
        {{ data.label }}
        <evt-pinner [item]="data" renderer="NamedEntity" pinType="NamedEntities"></evt-pinner>
    </div>
    <div class="card-body ne-content" *ngIf="contentOpened">
        <!-- Tab panes -->
        <ngb-tabset [justify]="false">
            <ngb-tab [title]="'Info' | translate">
                <ng-template ngbTabContent>
                    <div class="ne-tab-content">
                        <evt-content-viewer *ngFor="let detail of data.content" [content]="detail">
                        </evt-content-viewer>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab [title]="'Occurrences' | translate">
                <ng-template ngbTabContent>
                    <div class="ne-tab-content">
                        <span *ngFor="let occurrence of data.occurrences"> {{ occurrence }} </span>
                        <span *ngIf="data.occurrences.length === 0">{{'NoOccurrences' | translate}}</span>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab [title]="'XMLSource' | translate">
                <ng-template ngbTabContent>
                    <div class="ne-tab-content no-padding">
                        <evt-original-encoding-viewer [originalEncoding]="data.originalEncoding">
                        </evt-original-encoding-viewer>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="EVT JSON Model">
                <ng-template ngbTabContent>
                    <div class="ne-tab-content no-padding">
                        <pre>{{ data | json }}</pre>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>