<div class="card ne-container {{ entity.namedEntityType }}" (click)="tabSelected($event)" [ngClass]="{
        inList: inList, 
        contentOpened: contentOpened
    }" *ngIf="entity">
    <div class="card-header ne-header" (click)="toggleContent()">
        <evt-icon *ngIf="inList && contentOpened"
            [iconInfo]="{ icon: 'caret-down', additionalClasses: 'icon toggler mr-2'}">
        </evt-icon>
        <evt-icon *ngIf="inList && !contentOpened"
            [iconInfo]="{icon: 'caret-right', additionalClasses: 'icon toggler mr-2'}"></evt-icon>
        <evt-icon *ngIf="entity.namedEntityType === 'person'"
            [iconInfo]="{icon: 'user', additionalClasses: 'icon mr-1'}"></evt-icon>
        <evt-icon *ngIf="entity.namedEntityType === 'place'"
            [iconInfo]="{icon: 'map-marker', additionalClasses: 'icon mr-1'}">
        </evt-icon>
        {{ entity.label }}
        <evt-pinner [item]="entity" renderer="NamedEntity" pinType="NamedEntities"></evt-pinner>
    </div>
    <div class="card-body ne-content" *ngIf="contentOpened">
        <!-- Tab panes -->
        <ngb-tabset [justify]="false">
            <ngb-tab [title]="'Info' | translate">
                <ng-template ngbTabContent>
                    <div class="ne-tab-content">
                        <evt-content-viewer *ngFor="let detail of entity.content" [content]="detail">
                        </evt-content-viewer>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab [title]="'Occurrences' | translate">
                <ng-template ngbTabContent>
                    <div class="ne-tab-content">
                        <span *ngFor="let occurrence of entity.occurrences"> {{ occurrence }} </span>
                        <span *ngIf="entity.occurrences.length === 0">{{'NoOccurrences' | translate}}</span>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab [title]="'XMLSource' | translate">
                <ng-template ngbTabContent>
                    <div class="ne-tab-content no-padding">
                        {{ entity.originalEncoding?.outerHTML }} // TEMP
                        <!-- <handy-syntax-highlighter language="markup" [content]="'\n'+entity.xml | xmlBeautify">
                        </handy-syntax-highlighter> -->
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="EVT JSON Model">
                <ng-template ngbTabContent>
                    <div class="ne-tab-content no-padding">
                        <pre>{{ entity | json }}</pre>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>