.global-tools {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 20;
}

:host ::ng-deep {
    .apparatuses {
        .panel .content {
            padding: 0 !important;
        }
        .tab-pane {
            padding: 1rem;
        }
    }
}