@import "../../../assets/scss/colors";
@import "../../../assets/scss/themes";
@import "../../../assets/scss/mixins";

/*
.quoteEntry {
  font-style: italic;
  font-size: 104%;
  padding:0;
}

.quoteEntry.opened {
  color: #004ec3;
}

.quoteEntry:hover {
  background-color:#2632383b;
  cursor: pointer;
}
*/