<span class="namedEntityRef {{ data.entityType }}" (click)="toggleEntityData($event)" [ngClass]="{
        opened: opened,
        highlighted: highlighted$ | async
    }">
    <evt-content-viewer *ngFor="let element of data.content" [content]="element"></evt-content-viewer>
</span>
<div *ngIf="opened" class="namedEntityRefDetail {{ data.entityType }}">
    <evt-named-entity *ngIf="entity$ | async; else loading" [inList]="true" [entity]="entity$ | async"> </evt-named-entity>
    <ng-template #loading>Loading...</ng-template>
</div>