<span class="namedEntityRef {{ data.entityType }}" (click)="toggleOpened$.next()" [ngClass]="{
        opened: opened$ | async,
        entityHighlight: entityHighlight$ | async,
        noDetails: noDetails$ | async
    }" [evtHighlight]="highlightData" [evtHtmlAttributes]="data?.attributes">
    <evt-content-viewer *ngFor="let element of data.content" [content]="element" [editionLevel]="editionLevel" [itemsToHighlight]="itemsToHighlight" [textFlow]="textFlow" [withDeletions]="withDeletions" [selectedLayer]="selectedLayer"></evt-content-viewer>
</span>
<ng-container *ngIf="availableEntities$ | async">
    <div *ngIf="opened$ | async" class="namedEntityRefDetail {{ data.entityType }}">
        <ng-container *ngIf="entity$ | async as entity; else loading">
            <span *ngIf="entity === 'notFound'" class="d-block p-2 ps-3 font-italic font-weight-light not-found-msg">{{ 'entityNotFound' | translate }}</span>
            <evt-named-entity *ngIf="entity !== 'notFound'" [inList]="true" [data]="entity"> </evt-named-entity>
        </ng-container>
        <ng-template #loading>Loading...</ng-template>
    </div>
</ng-container>