<evt-panel *ngIf="currentPage$ | async as currentPage" [comparable]="true" [secondary]="true" [closable]="true" (hide)="onHide()">
    <div header-left class="no-drag">
        Witness {{ witnessItem.label }}
        <evt-page-selector class="px-2" [pageID]="currentPage.id" (selectionChange)="onChangePage($event.id)"></evt-page-selector>
    </div>
    <div class="h-100" content evtAnnotator>
        <evt-page-lacuna *ngIf="currentPage.isPartOfLacuna"></evt-page-lacuna>
        <evt-page *ngIf="!currentPage.isPartOfLacuna" [data]="currentPage"></evt-page>
    </div>
</evt-panel>