<evt-panel [comparable]="true" [secondary]="true" [closable]="true" (hide)="emitHide()">
    <div header-left>
        <!-- TODO: Add dropdowns for navigation -->
        Witness {{ witness }}
    </div>
    <div content evtAnnotator>
        <h1>Text of witness</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Inmensae subtilitatis, obscuris et malesuada fames. Ambitioni dedisse scripsisse iudicaretur. At nos hinc posthac, sitientis piros Afros.
        </p>
    </div>
</evt-panel>