<evt-panel [showSecondaryContent]="isSecondaryContentOpened()" (scrollContent)="updatePage()">
    <div header-left>
        <evt-button
            label="Info"
            [iconLeft]="{icon: 'info-circle'}"
            additionalClasses="btn-primary mr-1"
            (btnClick)="toggleSecondaryContent('INFO')"
            (click) = "msDesc.ngSelectComponent.clearModel();"
            [active]="secondaryContent === 'INFO'"></evt-button>
        <evt-page-selector [pageID]="pageID" (selectionChange)="currentPage$.next($event)"></evt-page-selector>
        <evt-edition-level-selector [class.hidden]="hideEditionLevelSelector" [editionLevelID]="editionLevelID" (selectionChange)="currentEdLevel$.next($event)"></evt-edition-level-selector>
        <evt-ms-desc-selector #msDesc (selectionChange)="setMsDescID($event)" (msDescOpen)="isMsDescOpen($event)"></evt-ms-desc-selector>
    </div>
    <div content evtAnnotator #mainContent>
        <ng-container *ngIf="(currentStatus$ | async) as currentStatus">
            <ng-container *ngIf="isMultiplePageFlow$ | async">
                <evt-page *ngFor="let page of currentStatus.pages"
                    [attr.data-id]="page.id"
                    [data]="page"
                    [textFlow]="textFlow"
                    [itemsToHighlight]="itemsToHighlight$ | async"></evt-page>
            </ng-container>
            <evt-page *ngIf="(isMultiplePageFlow$ | async) === false"
                [attr.data-id]="currentStatus.currentPage.id"
                [data]="currentStatus.currentPage"
                [editionLevel]="currentStatus.editionLevel"
                [textFlow]="textFlow"
                [itemsToHighlight]="itemsToHighlight$ | async"></evt-page>
        </ng-container>
    </div>
    <div secondary-content>
        {{ getSecondaryContent() }}
        <div *ngIf="msDescOpen && (msDesc$ | async) as msDescs">
            <div *ngFor="let msDesc of msDescs">
                <evt-ms-desc *ngIf="msDesc.id == msDescID" [data]="msDesc"></evt-ms-desc>    
            </div>
        </div>
    </div>

    <div footer>
        <evt-button
            [iconLeft]="{icon: 'search'}"
            label="Search"
            additionalClasses="mr-1"
            (btnClick)="toggleSecondaryContent('SEARCH_RESULTS')"
            [active]="secondaryContent === 'SEARCH_RESULTS'">
        </evt-button>
        <evt-entities-select (selectionChange)="itemsToHighlight$.next($event)"></evt-entities-select>
        <evt-button *ngIf="enableProseVersesToggler"
            [iconLeft]="proseVersesTogglerIcon"
            [label]="textFlow | translate"
            additionalClasses="ml-1"
            (btnClick)="toggleProseVerses()">
        </evt-button>
    </div>
</evt-panel>