<evt-panel [showSecondaryContent]="isSecondaryContentOpened()">
    <div header-left>
        <evt-button
            label="Info"
            [iconLeft]="{icon: 'info-circle'}"
            additionalClasses="btn-primary mr-1"
            (btnClick)="toggleSecondaryContent('INFO')"
            [active]="secondaryContent === 'INFO'"></evt-button>
        <evt-page-selector [pageID]="pageID" (selectionChange)="currentPage$.next($event)"></evt-page-selector>
        <evt-edition-level-selector [class.hidden]="hideEditionLevelSelector" [editionLevelID]="editionLevelID" (selectionChange)="currentEdLevel$.next($event)"></evt-edition-level-selector>
        <evt-button
            label="MS Desc"
            additionalClasses="btn-primary mr-1"
            (btnClick)="toggleMsDescContent()"
            [active]="msDescOpen"></evt-button>
    </div>
    <div content evtAnnotator>
        <ng-container *ngIf="(currentStatus$ | async) as currentStatus">
            <ng-container *ngIf="isMultiplePageFlow$ | async">
                <evt-page *ngFor="let page of currentStatus.pages"
                    [data]="page"
                    [textFlow]="textFlow"
                    [itemsToHighlight]="itemsToHighlight$ | async"></evt-page>
            </ng-container>

            <evt-page *ngIf="(isMultiplePageFlow$ | async) === false"
                [data]="currentStatus.currentPage"
                [editionLevel]="currentStatus.editionLevel"
                [textFlow]="textFlow"
                [itemsToHighlight]="itemsToHighlight$ | async"></evt-page>
        </ng-container>
    </div>
    <div secondary-content>{{ getSecondaryContent() }}</div>

    <div footer>
        <evt-button
            [iconLeft]="{icon: 'search'}"
            label="Search"
            additionalClasses="mr-1"
            (btnClick)="toggleSecondaryContent('SEARCH_RESULTS')"
            [active]="secondaryContent === 'SEARCH_RESULTS'">
        </evt-button>
        <evt-entities-select (selectionChange)="itemsToHighlight$.next($event)"></evt-entities-select>
        <evt-button *ngIf="enableProseVersesToggler"
            [iconLeft]="proseVersesTogglerIcon"
            [label]="textFlow | translate"
            additionalClasses="ml-1"
            (btnClick)="toggleProseVerses()">
        </evt-button>
    </div>
</evt-panel>