.container {
  margin-bottom: 5px;
  padding: 0;
  margin: 0;
}

.row {
  margin-left: 0.5px;
}

.col-label {
    border-right: solid 1px;
    padding: 1% 10% 1% 1%;
    text-align: right;
    line-height: 1.1;
}

.col-content {
    padding: 1% 2% 1% 3%;
}


