<div>
    <p>Contenuto del manoscritto:</p>
    <div>
        <ng-container *ngIf="data.msItem || data.msItemStruct || data.summary; else elseBlock">
            <ng-container *ngIf="data.summary">
                <evt-content-viewer [content]="data.summary"></evt-content-viewer>
                <br/>
            </ng-container>       
            <span *ngFor="let m of data.msItem | keyvalue" >  
                <ng-container *ngIf="data.msItem[m.key].textLang.length>0">
                    <evt-content-viewer *ngFor="let c of data.msItem[m.key].colophon" [content]="c"></evt-content-viewer>  
                    <br/>
                </ng-container>
                <span *ngFor="let dt of data.msItem[m.key].docTitle | keyvalue" >Titolo del documento: 
                    <evt-content-viewer [content]="data.msItem[m.key].docTitle[dt.key]"></evt-content-viewer>
                    <br/>
                </span>
                <span *ngFor="let a of data.msItem[m.key].author | keyvalue" >Autore: 
                    <evt-content-viewer [content]="data.msItem[m.key].author[a.key]"></evt-content-viewer>
                    <br/>
                </span>
                <span *ngFor="let da of data.msItem[m.key].docAuthor | keyvalue" >Autore del documento: 
                    <evt-content-viewer [content]="data.msItem[m.key].docAuthor[da.key]"></evt-content-viewer>
                    <br/>
                </span>
                <span *ngFor="let di of data.msItem[m.key].docImprint | keyvalue" >Sigla editoriale del documento: 
                    <evt-content-viewer [content]="data.msItem[m.key].docImprint[di.key]"></evt-content-viewer>
                    <br/>
                </span>
                <span *ngFor="let dd of data.msItem[m.key].docDate | keyvalue" >Data del documento: 
                    <evt-content-viewer [content]="data.msItem[m.key].docDate[dd.key]"></evt-content-viewer>
                    <br/>
                </span>
                <span *ngIf="data.msItem[m.key].textLang.length>0">Lingua: 
                    <evt-content-viewer *ngFor="let t of data.msItem[m.key].textLang" [content]="t"></evt-content-viewer>
                    <br/>
                </span>
                <span *ngFor="let f of data.msItem[m.key].filiation | keyvalue" >Filiazione:
                    <evt-content-viewer [content]="data.msItem[m.key].filiation[f.key]"></evt-content-viewer>
                    <br/>
                </span>
            </span>
            Testi:
            <br/>
            <span *ngFor="let m of data.msItem | keyvalue" > 
                <span *ngFor="let t of data.msItem[m.key].title | keyvalue" >
                    <evt-content-viewer [content]="data.msItem[m.key].title[t.key]"></evt-content-viewer>
                    <br/>
                </span> 
                <ng-container *ngIf="data.msItem[m.key].incipit">
                    <evt-content-viewer [content]="data.msItem[m.key].incipit"></evt-content-viewer>
                    <br/>
                </ng-container>
                <ng-container *ngIf="data.msItem[m.key].explicit">
                    <evt-content-viewer [content]="data.msItem[m.key].explicit"></evt-content-viewer>
                    <br/>
                </ng-container>
                <ng-container *ngIf="data.msItem[m.key].locus">
                    <evt-content-viewer [content]="data.msItem[m.key].locus"></evt-content-viewer>
                    <br/>
                </ng-container>
                <evt-content-viewer *ngFor="let b of data.msItem[m.key].bibl" [content]="b"></evt-content-viewer>
                <evt-content-viewer *ngFor="let n of data.msItem[m.key].noteEl" [content]="n"></evt-content-viewer>
                <ng-container *ngIf="data.msItem[m.key].msItem.length>0">
                    <li> 
                        <span *ngFor="let ms of data.msItem[m.key].msItem | keyvalue" >      
                            <span *ngFor="let t of data.msItem[m.key].msItem[ms.key].title | keyvalue" >
                                <evt-content-viewer [content]="data.msItem[m.key].msItem[ms.key].title[t.key]"></evt-content-viewer>
                                <br/>
                            </span>
                            <ng-container *ngIf="data.msItem[m.key].msItem[ms.key].incipit">
                                <evt-content-viewer [content]="data.msItem[m.key].msItem[ms.key].incipit"></evt-content-viewer>
                                <br/>
                            </ng-container>
                            <ng-container *ngIf="data.msItem[m.key].msItem[ms.key].explicit">
                                <evt-content-viewer [content]="data.msItem[m.key].msItem[ms.key].explicit"></evt-content-viewer>
                                <br/>
                            </ng-container>
                            <ng-container *ngIf="data.msItem[m.key].msItem[ms.key].locus">
                                <evt-content-viewer [content]="data.msItem[m.key].msItem[ms.key].locus"></evt-content-viewer>
                                <br/>
                            </ng-container> 
                            <evt-content-viewer *ngFor="let b of data.msItem[m.key].msItem[ms.key].bibl" [content]="b"></evt-content-viewer>
                            <evt-content-viewer *ngFor="let n of data.msItem[m.key].msItem[ms.key].noteEl" [content]="n"></evt-content-viewer>                       
                        </span>
                    </li>
                </ng-container>  
                <br/><br/>                 
            </span>
        </ng-container>
        <ng-template #elseBlock>
            <evt-content-viewer *ngFor="let p of data.pEl" [content]="p"></evt-content-viewer>
        </ng-template>
    </div>
</div>
 