<div> 
    <p>Parti del manoscritto:</p>
    <div>  
        <evt-content-viewer [content]="data?.msIdentifier"></evt-content-viewer> 
        <ng-container *ngIf="data?.head?.title?.length>0">Titolo:
            <evt-content-viewer *ngFor="let t of data.head.title" [content]="t"></evt-content-viewer>
            <br/>
        </ng-container>
        <ng-container *ngIf="data?.head?.origPlace">Luogo di origine:
            <evt-content-viewer [content]="data.head.origPlace"></evt-content-viewer>
            <br/>
        </ng-container>
        <ng-container *ngIf="data?.head?.origDate">Data di origine:
            <evt-content-viewer [content]="data.head.origDate"></evt-content-viewer>
            <br/>
        </ng-container> 
        <evt-content-viewer [content]="data?.msContents"></evt-content-viewer>
        <evt-content-viewer [content]="data?.physDesc"></evt-content-viewer>
        <evt-content-viewer [content]="data?.history"></evt-content-viewer>
    </div>
</div>