<div class="msPart"> 
    <p class="projectInfo-sectionSubHeader">Parte del manoscritto:</p>
    <div>  
        <evt-content-viewer [content]="data?.msIdentifier"></evt-content-viewer>
        <ng-container *ngIf="data?.head?.title?.length>0">
            <span class="projectInfo-inlineLabel">Titolo: </span>
            <evt-content-viewer *ngFor="let t of data.head.title" [content]="t"></evt-content-viewer>
            <br/>
        </ng-container>
        <ng-container *ngIf="data?.head?.origPlace">
            <span class="projectInfo-inlineLabel">Luogo di origine: </span>
            <evt-content-viewer [content]="data.head.origPlace"></evt-content-viewer>
            <br/>
        </ng-container>
        <ng-container *ngIf="data?.head?.origDate">
            <span class="projectInfo-inlineLabel">Data di origine: </span>
            <evt-content-viewer [content]="data.head.origDate"></evt-content-viewer>
            <br/>
        </ng-container> 
        <evt-content-viewer [content]="data?.msContents"></evt-content-viewer>
        <evt-content-viewer [content]="data?.physDesc"></evt-content-viewer>
        <evt-content-viewer [content]="data?.history"></evt-content-viewer>
    </div>
</div>