<div class="flex-container" *ngIf="data?.pEl.length>0">
    <div class="flex-item-label">
        <evt-ms-desc-section [label]="'summary'" [inlineLabel]="true"> </evt-ms-desc-section>
    </div>
    <div class="flex-item-information">
        <evt-content-viewer [content]="par" *ngFor="let par of data.pEl"></evt-content-viewer>  
    </div>
</div>
<ng-container *ngIf="data?.head as head">
    <div class="flex-container" *ngIf="head.title?.length>0">
        <div class="flex-item-label">
            <evt-ms-desc-section [label]="'title'" [inlineLabel]="true"> </evt-ms-desc-section>
        </div>
        <div class="flex-item-information">
            <ng-container *ngFor="let titles of head.title; let i = index">
                <evt-content-viewer *ngFor="let title of titles" [content]="title"></evt-content-viewer>
                <span *ngIf="i < [head.title.length-1]">, </span>
            </ng-container>
        </div>
    </div>
    <div class="flex-container" *ngIf="head.origPlace">
        <div class="flex-item-label">
            <evt-ms-desc-section [label]="'origPlace'" [inlineLabel]="true"> </evt-ms-desc-section>
        </div>
        <div class="flex-item-information">
            <evt-content-viewer [content]="head.origPlace"></evt-content-viewer>
        </div>
    </div>
    <div class="flex-container" *ngIf="head.origDate">
        <div class="flex-item-label">
            <evt-ms-desc-section [label]="'origDate'" [inlineLabel]="true"> </evt-ms-desc-section>
        </div>
        <div class="flex-item-information">
            <evt-content-viewer [content]="head.origDate"></evt-content-viewer>
        </div>
    </div>
</ng-container>
<evt-ms-identifier *ngIf="data?.msIdentifier" [data]="data.msIdentifier"></evt-ms-identifier>
<evt-ms-contents *ngIf="data?.msContents" [data]="data.msContents"></evt-ms-contents>
<evt-phys-desc *ngIf="data?.physDesc" [data]="data.physDesc"></evt-phys-desc>
<evt-history *ngIf="data?.history" [data]="data.history"></evt-history>
<evt-additional *ngIf="data?.additional" [data]="data.additional"></evt-additional>
<ng-container *ngFor="let frag of data?.msFrags" >
    <evt-ms-frag [data]="frag"></evt-ms-frag>
</ng-container>
<ng-container *ngFor="let part of data?.msParts">
    <evt-ms-part [data]="part"></evt-ms-part>
</ng-container>
