.section {
    margin-bottom: 20px;
    &.has-nested {
        margin-left: 20px;
        margin-top: -20px;
        margin-bottom: 20px;
    }
}

.projectInfo-block {
    display: block;
}

.incipit, .explicit, .title {
    font-style: italic;
}
