.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item-locus {
    flex-basis: 30%;
    padding-right: 1rem;
  }
  
.flex-item-information {
    flex-basis: 70%;
}

.section-msItem {
    margin-bottom: 1rem;
}

.has-nested1 {
    margin-left: 20%;
}

.has-nested2 {
    margin-left: 36%;
}

.title {
    font-style: italic;
}

.locus {
    font-weight: bold;
}

.msItem-information {
    font-size: 0.95rem;
}

@media (min-width: 639px) {
    .flex-item-locus {
        flex-basis: 40%;
    }
      
    .flex-item-information {
        flex-basis: 60%;
    }
}

@media (min-width: 950px) {
    .flex-item-locus {
        flex-basis: 20%;
      }
      
    .flex-item-information {
        flex-basis: 80%;
    }
}