<div class="flex-container section-msItem" [class.has-nested1]="nested1" [class.has-nested2]="nested2">   
    <div class="flex-item-locus">   
        <span *ngIf="data?.locus" class="locus">
            <evt-content-viewer [content]="data?.locus"></evt-content-viewer>
            <span>:</span>
        </span>
    </div>
    <div class="flex-item-information">
        <evt-ms-desc-section *ngIf="data?.title?.length>0 || data?.docTitle?.length>0" [inlineLabel]="true" [nestedElement]="true">
            <ng-container content>
                <ng-container *ngFor="let titles of data.title; let i = index">
                    <evt-content-viewer *ngFor="let title of titles" [content]="title"></evt-content-viewer>
                    <span *ngIf="i < [data.title.length-1]">, </span>
                </ng-container>
                <ng-container *ngFor="let dt of getDocTitle; let i = index">
                    <evt-content-viewer [content]="dt"></evt-content-viewer>
                    <span *ngIf="i < [getDocTitle.length-1]">, </span>
                </ng-container>
            </ng-container>
        </evt-ms-desc-section>
        <ng-container class="msItem-information">
            <evt-ms-desc-section *ngIf="data?.textLangs?.length>0" [label]="'textLang'" [inlineLabel]="true" [nestedElement]="true"> 
                <ng-container content>
                    <ng-container *ngFor="let textLangs of data.textLangs; let i = index">
                        <evt-content-viewer *ngFor="let textLang of textLangs" [content]="textLang"></evt-content-viewer>
                        <span *ngIf="i < [data.textLangs.length-1]">, </span>
                    </ng-container>
                </ng-container>
            </evt-ms-desc-section>
            <evt-ms-desc-section *ngIf="data?.author?.length>0 || data?.docAuthor?.length>0" [label]="'author'" [inlineLabel]="true" [nestedElement]="true">
                <span content>
                    <ng-container *ngFor="let a of getAuthor; let i = index">
                        <evt-content-viewer [content]="a"></evt-content-viewer>
                        <span *ngIf="i < [getAuthor.length-1]">, </span>
                    </ng-container>
                    <span *ngIf="data?.author.length>0 && data?.docAuthor.length>0">, </span>
                    <ng-container *ngFor="let da of getDocAuthor; let i = index">
                        <evt-content-viewer [content]="da"></evt-content-viewer>
                        <span *ngIf="i < [getDocAuthor.length-1]">, </span>
                    </ng-container>
                </span>
            </evt-ms-desc-section>
            <evt-ms-desc-section *ngIf="data?.docDate?.length>0" [label]="'docDate'" [inlineLabel]="true" [nestedElement]="true">
                <ng-container content>
                    <span *ngFor="let dates of data.docDate">
                        <evt-content-viewer *ngFor="let date of dates" [content]="date"></evt-content-viewer>
                    </span>
                </ng-container>
            </evt-ms-desc-section>
            <evt-ms-desc-section *ngIf="data?.colophon?.length>0" [label]="'colophon'" [inlineLabel]="true" [nestedElement]="true">
                <ng-container content>
                    <span *ngFor="let colophons of data.colophon">
                        <evt-content-viewer *ngFor="let colophon of colophons" [content]="colophon"></evt-content-viewer>
                    </span>
                </ng-container>
            </evt-ms-desc-section>
            <evt-ms-desc-section *ngIf="data?.incipit" [label]="'incipit'" [inlineLabel]="true" [nestedElement]="true">
                <evt-content-viewer [content]="data.incipit" class="incipit"></evt-content-viewer>
            </evt-ms-desc-section>
            <evt-ms-desc-section *ngIf="data?.explicit" [label]="'explicit'" [inlineLabel]="true" [nestedElement]="true">
                <evt-content-viewer [content]="data.explicit" class="explicit"></evt-content-viewer>
            </evt-ms-desc-section>
            <evt-ms-desc-section *ngIf="data?.docImprint?.length>0" [label]="'docImprint'" [inlineLabel]="true" [nestedElement]="true">
                <ng-container content>
                    <span *ngFor="let imprints of data.docImprint">
                        <evt-content-viewer *ngFor="let imprint of imprints" [content]="imprint"></evt-content-viewer>
                    </span>
                </ng-container>
            </evt-ms-desc-section>
            <evt-ms-desc-section *ngIf="data?.noteEl?.length>0" [label]="'note'" [inlineLabel]="true" [nestedElement]="true">
                <evt-content-viewer *ngFor="let n of data.noteEl" [content]="n"></evt-content-viewer>
            </evt-ms-desc-section> 
        </ng-container>
    </div>    
</div>
