.mod-symbol {
    font-size: 1em;
    color: #263238;
    margin: 0;
    padding: 0 0.3em 0 0;
    display: inline;
    font-family: "evt-icons" !important;
    speak: none;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    vertical-align: super;
    filter: saturate(0);
    margin-top: 0.2em;
}