<div class="source-container" *ngIf="boxVisible">
        
    <div class="card-body ne-header app-detail-content source-detail-content" *ngIf="mod.content.length > 0">
        <span class="mod-symbol">🕐</span>
        <span class="mod-text">
            <ng-container *ngFor="let element of mod.content; index as i">
                <evt-content-viewer 
                    [content]="element" 
                    [editionLevel]="editionLevel"
                    [evtHtmlAttributes]="element?.attributes" 
                    [attr.data-edition]="editionLevel">
                </evt-content-viewer> 
            </ng-container>
        </span>
    </div>

    <div class="card-footer app-detail-tabs">
        <ul ngbNav #modEntryTab="ngbNav" class="nav-pills">

            <li ngbNavItem="criticalNote" *ngIf="mod.notes?.length > 0">
                <a class="source-detail-btn" ngbNavLink>{{'criticalNote' | translate}}</a>
                <ng-template ngbNavContent>
                    <evt-note  *ngFor="let element of mod?.notes" [data]="element"></evt-note>
                </ng-template>
            </li>

            <li ngbNavItem="corrSeq" *ngIf="mod.content.length > 0">
                <a class="source-detail-btn" ngbNavLink>{{'corrSeq' | translate}}</a>
                <ng-template ngbNavContent>
                    <evt-mod-sequence 
                        [data]="[mod]" 
                        [orderedLayers]="ordLayers"
                        [selectedLayer]="selLayer"></evt-mod-sequence>
                </ng-template>
            </li>

            <li ngbNavItem="xml" *ngIf="mod.originalEncoding">
                <a class="source-detail-btn" ngbNavLink>{{'xml' | translate}}</a>
                <ng-template ngbNavContent>
                    <evt-original-encoding-viewer [originalEncoding]="mod.originalEncoding">
                    </evt-original-encoding-viewer>
                </ng-template>
            </li>

        </ul>
        <div [ngbNavOutlet]="modEntryTab" class="tab-content"></div>
    </div>

</div>

