<div class="source-container">
        
    <div class="card-body app-detail-content source-detail-content">
        <span class="btn btn-sm transparent source-quote-button">☚</span>
        <span class="source-quote-symbol">&#10077;</span>
        <span title="analogue-text">{{analogue.text}}</span>
    </div>

    <div class="card-footer app-detail-tabs" *ngIf="analogue.sources.length > 0 || analogue.extSources.length > 0">
        <ul ngbNav #analogueEntryTab="ngbNav" class="nav-pills">

            <li ngbNavItem="quotedText" *ngIf="analogue.quotedText.length > 0">
                <a class="source-detail-btn" ngbNavLink>{{'quotedText' | translate}}</a>
                <ng-template ngbNavContent>
                    <ng-container *ngFor="let quoteTxt of analogue.quotedText">
                        {{quoteTxt.quote}}
                    </ng-container>
                </ng-template>
            </li>

            <li ngbNavItem="refBibl">
                <a class="source-detail-btn" ngbNavLink>{{'refBibl' | translate}}</a>
                <ng-template ngbNavContent>

                    <ng-container *ngIf="analogue.sources.length > 0">
                        <h3 class="sources-cat">{{'quotedSources' | translate}}</h3>
                        <evt-biblio-list [data]="analogue.sources"></evt-biblio-list>
                    </ng-container>

                    <ng-container *ngIf="analogue.extSources.length > 0">
                        <h3 class="sources-cat">{{'analogueIn' | translate}}</h3>
                        <evt-biblio-list [data]="analogue.extSources"></evt-biblio-list>
                    </ng-container>

                </ng-template>
            </li>

            <li ngbNavItem="xml" *ngIf="analogue.originalEncoding">
                <a class="source-detail-btn" ngbNavLink>{{'xml' | translate}}</a>
                <ng-template ngbNavContent>
                    <pre>{{ analogue.originalEncoding | xmlBeautify }}</pre>
                    <pre *ngIf="analogue.extSources">
                        <ng-container *ngFor="let extBiblXML of analogue.extSources">
                            <ng-container *ngIf="extBiblXML.originalEncoding">
                                {{ extBiblXML.originalEncoding | xmlBeautify }}
                            </ng-container>
                        </ng-container>
                    </pre>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="analogueEntryTab" class="tab-content"></div>
    </div>

</div>

