<gridster [options]="options">
    <gridster-item [item]="textPanelItem">
        <evt-text-panel
            [pageID]="currentPageID$ | async" 
            (pageChange)="changePage($event)"       
            [hideEditionLevelSelector]="true" 
            [editionLevelID]="'critical'"
        ></evt-text-panel>
    </gridster-item>
    <gridster-item [item]="collationPanelItem">
        <div class="collationPanel" #collationPanel
        [class.align-self-center]="getWitnesses().length === 0" 
        [class.empty]="getWitnesses().length === 0">
            <gridster [options]="collationOptions" *ngIf="getWitnesses().length > 0">
                <gridster-item [item]="witness.itemConfig" 
                *ngFor="let witness of getWitnesses(); let i = index">
                <evt-witness-panel
                    (hide)="removeWitness(i)" [witness]="witness.label">
                </evt-witness-panel>
                </gridster-item>
            </gridster>
            <evt-button class="btn" additionalClasses="btn-floating"
                [class.btn-float-right]="getWitnesses().length > 0"
                (btnClick)="addWitness()" label="ADD WITNESS"></evt-button>
        </div> 
    </gridster-item>
</gridster>