
.biblSpace{
    cursor: pointer;
    display: none; 
	overflow:scroll;
    overflow-x:hidden;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    // height: 500px;
    text-align: center;
}