.section {
    .section-label {
        font-variant: small-caps;
        color: #666;
    }
    &.has-inline-label {
        &.has-nested-element {
            display: block;
        }
        display: flex;
        .section-label {
            margin-right: 0.3rem;
        }
    }
    &:not(.has-inline-label){
        .section-label {
            border-bottom: 0.07rem dotted #666;
            margin-bottom: 0.3rem;
            display: block;
            margin-top: 1rem;  
        }
    }
    ::ng-deep p {
        margin-bottom: 0;
    }
}
.itemElement {
    margin-left: 1rem;
}

