.thumbnails-view{
    height: 100%;
    background: #617d8a;
    overflow: scroll;
    position: relative;
}
.change-page-container {
    padding: 10px;
    background: #273238;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.page{
    display: none;
    padding: 0 20px;
}
.active {
    display: block;
}
.item-content{
    position: relative;
}
p.item-page-index {
    position: absolute;
    top: 70%;
    width: calc(100% - 16px);
    text-align: center;
    background: rgb(246, 246, 246, 0.6);
    color: #333;
}
.item-content:hover p.item-page-index{
    background: rgb(51, 51, 51, 0.6);
    color: #f6f6f6;;
}
.pages-controller{
    width: 20px;
    background: #f6f6f6;
    margin: 5px;
    border: 3px solid #f6f6f6;
    border-radius: 3px;
}

.selected-item{
    border: 2px solid gold;
}

.selected-item-par{
    background-color: rgb(255,215,0,0.6) !important;
    color: #333 !important;
}
.current-page{
    color: #f6f6f6;
    display: inline;
    padding: 0 10px;
}