<gridster [options]="layoutOptions">
    <gridster-item [item]="imagePanelItem" *ngFor="let nimage of numImages; let last=last;">
        <evt-image-panel
            [indipendentNavBar]="true" 
            [viewerData]="imageViewer$ | async"
            [showHeader]="true"
            (pageChange)="changePage($event)"
        ></evt-image-panel>
        <evt-button *ngIf="last" class="btn" [class.btn-float-right]="true"
            [additionalClasses]="'btn-floating rounded-circle'"
            [label]="" [iconLeft]="{iconSet:'fas', icon:'plus'}" [title]="'addImage' | translate"
            (btnClick)="addImage()">
        </evt-button>  
        <evt-button *ngIf="last" class="btn-remove" [class.btn-float-top-right]="true"
            [additionalClasses]="'btn-floating rounded-circle'"
            [label]="" [iconLeft]="{iconSet:'fas', icon:'close'}" [title]="'removeImage' | translate"
            (btnClick)="removeImage()">
        </evt-button>  
    </gridster-item>
    <!-- <gridster-item [item]="imagePanelItem">
        <evt-image-panel 
            [indipendentNavBar]="true" 
            [viewerData]="imageViewer$ | async"
            [showHeader]="false"
            (pageChange)="changePage($event)"
        ></evt-image-panel>
        <evt-button class="btn" [class.btn-float-right]="true"
            [additionalClasses]="'btn-floating rounded-circle'"
            [label]="" [iconLeft]="{iconSet:'fas', icon:'plus'}" [title]="'addImage' | translate"
            (btnClick)="addImage()"></evt-button>        
    </gridster-item> -->
</gridster>