<ng-select
    class="mr-1"
    [items]="pages$ | async"
    bindLabel="label"
    bindValue="id"
    [clearable]="false"
    [searchable]="true"
    [ngModel]="selectedPage$ | async"
    (change)="pageID = $event.id">
    <ng-template
        ng-label-tmp
        let-item="item">
        <evt-icon
            [iconInfo]="{icon: 'file-alt', additionalClasses: 'mr-2'}"
            label-left></evt-icon>
        {{ item.label | translate: {value: (pages$ | async).indexOf(item) + 1} }}
    </ng-template>
</ng-select>