<div class="row h-100 m-0">
    <div class="bg-light col-3 p-0 border-right">
        <div class="list-item border-bottom" *ngFor="let list of lists$ | async trackBy: list?.id"
            (click)="openList($event, list)"
            [ngClass]="{
                hidden: list.content?.length === 0,
                active: selectedList === list
            }">
            <span class="list-item-main p-2 w-100 d-block border-bottom" [class.bg-dark]="selectedList === list"
                [class.text-light]="selectedList === list">
                <evt-icon [iconInfo]="{icon: list.icon, additionalClasses: 'mr-1'}"></evt-icon>
                {{list.label | translate}}
                <span class="badge badge-pill badge-info" *ngIf="list.content?.length > 0">{{ list.content?.length }}</span>
            </span>
            <div class="sub-list ml-3 border-left" *ngIf="list.sublists">
                <div *ngFor="let sublist of list.sublists; let last = last" class="sub-list-item p-2"
                    (click)="openList($event, sublist)"
                    [ngClass]="{
                        'border-bottom': !last,
                        'bg-dark': selectedList === sublist,
                        'text-light': selectedList === sublist
                    }">
                    {{sublist.label}}
                    <span class="badge badge-pill badge-info">{{sublist.content?.length}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9 p-0" *ngIf="selectedList">
        <evt-named-entities-list [list]="selectedList"></evt-named-entities-list>
    </div>
</div>