@import "../../../assets/scss/themes";

.source-container {
    border: 1px solid #80808026;
    padding: 0em;
    margin: 0.5em 0.5em 1em 0.5em;
    font-family: serif;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    background-color:#2042512e;
}

.source-detail-content {
    display: inline-flex !important;
    background-color: unset !important;
    padding-bottom: 0.6em !important;
    pointer-events: none;
}

.source-quote-button {
    float:right;
    margin-right: 0.3em;
    font-size: 1.5em;
    margin-top: -0.5em;
    color: #00000073;
    height: 2em;
    display: none;
    pointer-events: none;
}

.bibl-head {
    margin-left: 2rem;
}

.source-quote-symbol {
    font-size: 1em;
    color: #263238;
    margin: 0;
    padding: 0 0.3em 0 0;
    display: inline;
    font-family: 'evt-icons' !important;
    speak: none;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
    vertical-align: super;
}

.sources-cat {
    font-variant: small-caps;
    font-size: 95%;
    position: relative;
    font-style: normal;
}

.source-detail-btn {
    background-color: transparent;
    color: #000000;
    line-height: 1;
    padding: 0.25rem 0.375rem;
    cursor: pointer;
    border-radius: 0;
    font-style:normal;
}

.app-detail-content,
.app-detail-tabs {
    background-color: #f1f4f5;
    font-size: 1rem;
}

.app-detail-content {
    display: flex;
    font-style: italic;
    justify-content: space-between;
    padding: 0.313rem;
    background-color: #8080802e;
}

.app-detail-tabs {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border-top: 3px double #000 !important;
    .nav-link {
        display:inline-block;
        background-color: transparent;
        color: #000000;
        line-height: 1;
        padding: 0.25rem 0.375rem;
        cursor: pointer;
        border-radius: 0;
        &.active {
            color: #000000;
        }
    }
    .nav-pills,
    .tab-content {
        margin-right: 0rem;
        margin-left: 0rem;
    }
    .nav-link.active,
    .tab-content {
        @include themify($themes) {
            background-color: themed("appEntryBoxActiveTabBg");
        }
    }
    .tab-content {
        max-height: 12.5rem;
        overflow: auto;
        padding-top: 0.5em;
        padding-left: 1em;
        padding-bottom: 0.5em;
        .info-lemma-wrapper {
            @include themify($themes) {
                border-bottom: 1px solid themed("baseBorder");
            }
            padding-bottom: 0.438rem;
            margin-bottom: 0.625rem;
        }
        .info-rdg {
            font-style: italic;
            font-weight: 600;
            font-size: 1.063rem;
        }
        .info-label {
            font-size: 0.813rem;
            text-transform: uppercase;
            font-weight: 600;
        }
        .more-info-label {
            display: block;
            font-size: 0.813rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 0.25rem;
        }
        pre {
            white-space: pre-wrap;
            font-size: 75%;
            margin-bottom: 0;
            margin-top: -1rem;
        }
    }
}