.history {
    display: block;
    margin-top: 8px;
}

.projectInfo-sectionSubHeader {
    border-bottom: 1px dotted #666;
    margin-bottom: 5px;
    font-variant: small-caps;
    color: #000;
    font-size: 90%;
    display: block;
    margin-top: 14px;
}

.projectInfo-blockLabel {
    display: block;
    margin-bottom: 2px;
    font-variant: small-caps;
    color: #666;
    font-size: 90%;
}