.history {
    margin-bottom: 2rem;
}

.projectInfo-block {
    display: block;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item-label {
    flex-basis: 100%;
}

.flex-item-information {
    flex-basis: 100%;
    margin-bottom: 0.7rem;
}

@media (min-width: 612px) { 
    .flex-item-label {
        flex-basis: 20%;
      }
      
    .flex-item-information {
        flex-basis: 80%;
    }
}

@media (min-width: 640px) { 
    .flex-item-label {
        flex-basis: 100%;
    }

    .flex-item-information {
        flex-basis:100%
    }
 }

@media (min-width: 1224px) { 
    .flex-item-label {
        flex-basis: 20%;
      }
      
    .flex-item-information {
        flex-basis: 80%;
    }
 }
