<!-- TODO: handle different languages -->
<div id="EVTinfo_content" class="dialog_cont_inner">
    <p><a href="http://evt.labcd.unipi.it/" target="_blank">EVT (Edition Visualization Technology)</a> is a
        light-weight, open source tool specifically designed to create digital editions from texts encoded according to
        the <a href="http://www.tei-c.org/Guidelines/P5/" target="_blank"> TEI XML schemas and Guidelines</a>, freeing
        the scholars from the burden of web programming and enabling the final users to browse, explore and study
        digital editions by means of a user-friendly interface.
    </p>
    <p>This tool was born in the context of the <a href="http://vbd.humnet.unipi.it/" target="_blank">Digital Vercelli
            Book</a> project, in order to allow the creation of a digital edition (which has been available in beta form
        for more than two years) of the Vercelli Book, a parchment codex of the late tenth century, now preserved in the
        Archivio e Biblioteca Capitolare of Vercelli and regarded as one of the four most important manuscripts of the
        Anglo-Saxon period. However it has evolved into a tool suitable to fit different texts and needs. For example,
        it is now being used to publish the digital edition of the <a href="http://pelavicino.labcd.unipi.it"
            target="_blank">Codice Pelavicino manuscript</a>, a medieval codex preserving charters dating back to the
        XIII century.
    </p>
    <p>
        To ensure that it will be working on all the most recent web browsers, and for as long as possible on the World
        Wide Web itself, EVT is built on open and standard web technologies such as HTML, CSS and JavaScript. The entire
        structure of the software has been remodeled, in order to make it lighter, more usable and more adaptable; we
        decided to use the Model View Controller (MVC) approach to separate the logical presentation of the data, from
        the application logic and the processing core. Wanting to maintain the original feature of EVT, and therefore do
        not give up the client only approach, we decided to use <a href="https://angular.io/"
            target="_blank">Angular</a>, a JavaScript framework inspired by the MVC programming logic, especially
        suitable for the development of client-side Web applications.
    </p>
    <p>For more information about how to use and/or customize EVT please refer to the EVT Manual included in the archive
        you downloaded, in the "doc" folder. A developer guide for the current version (EVT 3) is available <a
            href="https://github.com/evt-project/evt-viewer-angular/wiki" target="_blank">on the GitHub wiki</a>.
    </p>
    <p>All development is done on Github:</p>
    <ul>
        <li><a href="https://github.com/evt-project/" target="_blank">EVT Project page</a></li>
        <li><a href="https://github.com/evt-project/evt-viewer-angular/" target="_blank">EVT 3 repository</a></li>
    </ul>
    <p>The latest release is always available on the EVT <a href="http://evt.labcd.unipi.it/" target="_blank">home
            page</a>, where you will also find more information about all EVT versions, together with live demos of each
        one.
    </p>
    <p>If you are interested in learning more about EVT and/or in adapting it to your specific needs please contact the
        project Director, Roberto Rosselli Del Turco <a
            href="mailto:roberto.rossellidelturco@gmail.com">roberto.rossellidelturco@gmail.com</a>.</p>
    <p>If you have any development suggestion, feature request or spot an error/bug please contact us at
        <a href="mailto:evt.developers@gmail.com">evt.developers@gmail.com</a>.
    </p>
</div>