<div class="msIdentifier">
    <p class="projectInfo-sectionSubHeader">{{ 'msidentifier' | translate }}</p>
    <div>
        <evt-project-info-section *ngIf="data?.settlement.length>0 || data?.country.length>0 || data?.region.length>0" [label]="'place'" [sectionClass]="'settlement'">
            <div content>   
                <evt-content-viewer *ngFor="let s of data.settlement" [content]="s"></evt-content-viewer>
                <ng-container *ngIf="data.region.length>0">
                    <ng-container *ngIf="data.settlement.length>0">, </ng-container>
                    <evt-content-viewer *ngFor="let r of data.region" [content]="r"></evt-content-viewer>
                </ng-container>
                <ng-container *ngIf="data.country.length>0">
                    <ng-container *ngIf="data.settlement.length>0 || data.region.length>0">, </ng-container>
                    <evt-content-viewer *ngFor="let c of data.country" [content]="c"></evt-content-viewer>
                </ng-container> 
            </div>
        </evt-project-info-section>
        <evt-project-info-section *ngIf="data?.repository" [label]="'repository'" [sectionClass]="'repository'">
            <div content>   
               <evt-content-viewer [content]="data.repository"></evt-content-viewer>
            </div>
        </evt-project-info-section>
        <evt-project-info-section *ngIf="data?.institution" [label]="'institution'" [sectionClass]="'institution'">
            <div content>   
               <evt-content-viewer [content]="data.institution"></evt-content-viewer>
            </div>
        </evt-project-info-section>
        <evt-project-info-section *ngIf="data?.collection.length>0" [label]="'collection'" [sectionClass]="'collection'">
            <div content>   
               <evt-content-viewer *ngFor="let c of data.collection" [content]="c"></evt-content-viewer>
            </div>
        </evt-project-info-section>
        <evt-project-info-section *ngFor="let m of data?.msName | keyvalue" [label]="'msName'" [sectionClass]="'msName'">
            <div content>   
               <evt-content-viewer [content]="data.msName[m.key]"></evt-content-viewer>
            </div>
        </evt-project-info-section>
        <evt-project-info-section *ngIf="data?.idno.length>0" [label]="'idno'" [sectionClass]="'idno'">
            <div content>   
               <evt-content-viewer *ngFor="let i of data.idno" [content]="i"></evt-content-viewer>
            </div>
        </evt-project-info-section>
        <evt-project-info-section *ngFor="let a of data?.altIdentifier | keyvalue" [label]="'altIdentifier'">
            <li *ngIf="data.altIdentifier[a.key].settlement.length>0 || data.altIdentifier[a.key].region.length>0">   
                <evt-project-info-section [label]="'place'">
                    <div content>   
                        <evt-content-viewer *ngFor="let s of data.altIdentifier[a.key].settlement" [content]="s"></evt-content-viewer>
                        <span *ngIf="data.altIdentifier[a.key].region.length>0">
                            <span *ngIf="data.altIdentifier[a.key].settlement.length>0">, </span>
                            <evt-content-viewer *ngFor="let r of data.altIdentifier[a.key].region" [content]="r"></evt-content-viewer>
                        </span>
                    </div>
                </evt-project-info-section>
            </li>  
            <li *ngIf="data.altIdentifier[a.key].repository">   
                <evt-project-info-section [label]="'repository'">
                    <div content>   
                        <evt-content-viewer [content]="data.altIdentifier[a.key].repository"></evt-content-viewer>
                    </div>
                </evt-project-info-section>
            </li>   
            <li *ngIf="data.altIdentifier[a.key].idno.length>0">   
                <evt-project-info-section [label]="'idno'">
                    <div content>   
                        <evt-content-viewer *ngFor="let i of data.altIdentifier[a.key].idno" [content]="i"></evt-content-viewer>
                        <evt-content-viewer *ngFor="let nt of data.altIdentifier[a.key].noteEl" [content]="nt"></evt-content-viewer>
                    </div>
                </evt-project-info-section>
            </li>   
        </evt-project-info-section>
    </div>
</div>