<div>
    <p>Identificatore del manoscritto:</p>
    <div>
        <ng-container *ngIf="data.settlement.length>0 || data.country.length>0 || data.region.length>0">Luogo:
            <evt-content-viewer *ngFor="let s of data.settlement" [content]="s"></evt-content-viewer>
            <ng-container *ngIf="data.region.length>0">
                <ng-container *ngIf="data.settlement.length>0">, </ng-container>
                <evt-content-viewer *ngFor="let r of data.region" [content]="r"></evt-content-viewer>
            </ng-container>
            <ng-container *ngIf="data.country.length>0">
                <ng-container *ngIf="data.settlement.length>0 || data.region.length>0">, </ng-container>
                <evt-content-viewer *ngFor="let c of data.country" [content]="c"></evt-content-viewer>
            </ng-container>
            <br/>
        </ng-container> 
        <ng-container *ngIf="data.repository">Archivio: 
            <evt-content-viewer [content]="data?.repository"></evt-content-viewer>
            <br/>
        </ng-container>
        <ng-container *ngIf="data.institution">Istituzione: 
            <evt-content-viewer [content]="data.institution"></evt-content-viewer>
            <br/>
        </ng-container>
        <span *ngFor="let c of data.collection | keyvalue" >Raccolta:
            <evt-content-viewer [content]="data.collection[c.key]"></evt-content-viewer>
            <br/>
        </span>
        <span *ngFor="let m of data.msName | keyvalue" >Nome del manoscritto:
            <evt-content-viewer [content]="data.msName[m.key]"></evt-content-viewer>
            <br/>
        </span>
        <ng-container *ngIf="data.idno.length>0">IDNO: 
            <evt-content-viewer *ngFor="let i of data.idno" [content]="i"></evt-content-viewer>
            <br/>
        </ng-container>
        <span *ngFor="let a of data.altIdentifier | keyvalue" >Identificatore alternativo:
            <ng-container *ngIf="data.altIdentifier[a.key].settlement.length>0 || data.altIdentifier[a.key].region.length>0">
                <li>
                    Luogo:
                    <evt-content-viewer *ngFor="let s of data.altIdentifier[a.key].settlement" [content]="s"></evt-content-viewer>
                    <span *ngIf="data.altIdentifier[a.key].region.length>0">
                        <span *ngIf="data.altIdentifier[a.key].settlement.length>0">, </span>
                        <evt-content-viewer *ngFor="let r of data.altIdentifier[a.key].region" [content]="r"></evt-content-viewer>
                    </span>
                </li>
            </ng-container>
            <ng-container *ngIf="data.altIdentifier[a.key].repository">
                <li>
                    Archivio:
                    <evt-content-viewer [content]="data.altIdentifier[a.key].repository"></evt-content-viewer>
                </li> 
            </ng-container>
            <ng-container *ngIf="data.altIdentifier[a.key].idno.length>0">
                <li>
                    IDNO:
                    <evt-content-viewer *ngFor="let i of data.altIdentifier[a.key].idno" [content]="i"></evt-content-viewer>
                    <evt-content-viewer *ngFor="let nt of data.altIdentifier[a.key].noteEl" [content]="nt"></evt-content-viewer>
                </li>
            </ng-container>
        </span>
    </div>
</div>