<gridster [options]="layoutOptions">
    <gridster-item [item]="imagePanelItem">
        <evt-image-panel 
            [viewerData]="imageViewer$ | async"
            [pageID]="currentPageID$ | async"
            (pageChange)="changePage($event)"
        ></evt-image-panel>
    </gridster-item>
    <gridster-item [item]="textPanelItem">
        <evt-text-panel
            [pageID]="currentPageID$ | async" 
            [editionLevelID]="'critical'"
            [selectedLayer]="'1'"
            (pageChange)="changePage($event)" 
            (layerChange)="changeLayer($event)" 
        ></evt-text-panel>
    </gridster-item>
</gridster>