// ng-select overrides
::ng-deep .ng-select {
    min-width: 150px;
}

::ng-deep .ng-dropdown-panel {
    .ng-dropdown-panel-items {
        .ng-optgroup {
            font-size: 90%;
            font-variant: small-caps;
        }

        .ng-option {
            padding-left: 10px !important;
        }
    }
}

.entities-select-toolbar {
    display: flex;

    .btn {
        flex-grow: 1;
    }
}

.select-all-btn {
    cursor: pointer;
}