<div class="msFrag"> 
    <evt-ms-desc-section [label]="'msFrag'" [dotted]=false></evt-ms-desc-section>    
    <evt-ms-identifier *ngIf="data?.msIdentifier" [data]="data?.msIdentifier"></evt-ms-identifier>
    <evt-ms-contents *ngIf="data?.msContents" [data]="data?.msContents"></evt-ms-contents>
    <evt-phys-desc *ngIf="data?.physDesc" [data]="data?.physDesc"></evt-phys-desc>
    <evt-history *ngIf="data?.history" [data]="data?.history"></evt-history>
    <evt-additional *ngIf="data?.additional" [data]="data?.additional"></evt-additional>
</div>