<div class="card app-detail-container">
    <div class="card-body app-detail-content">
        <span>
            <evt-apparatus-entry-readings class="app-detail-readings" [data]="data"></evt-apparatus-entry-readings>
            <div class="app-detail-nested-readings-container">
                <evt-apparatus-entry-readings class="app-detail-nested-readings" *ngFor="let nestedApp of nestedApps" [data]="nestedApp"></evt-apparatus-entry-readings>
            </div>
        </span>
        <evt-pinner [item]="data" renderer="ApparatusEntryReadings" pinType="ApparatusEntry"></evt-pinner>
    </div>
    <div class="card-footer app-detail-tabs">
        <ul ngbNav #appEntryTab="ngbNav" class="nav-pills">
            <li ngbNavItem="criticalNotes" *ngIf="data.notes.length > 0">
                <a class="app-detail-btn" ngbNavLink>{{'criticalNotes' | translate}}</a>
                <ng-template ngbNavContent>
                    <evt-note *ngFor="let note of data.notes" [data]="note"></evt-note>
                </ng-template>
            </li>
            <li ngbNavItem="notSignificantRdg" *ngIf="notSignificantRdg.length > 0">
                <a class="app-detail-btn" ngbNavLink>{{'ortographicVariants' | translate}}</a>
                <ng-template ngbNavContent>
                    <span class="d-block" *ngFor="let el of notSignificantRdg">
                        <evt-reading [data]="el"></evt-reading>
                        <span *ngFor="let witID of el.witIDs" class="font-italic"> {{ witID }} </span>
                    </span>
                </ng-template>
            </li>
            <li ngbNavItem="info">
                <a class="app-detail-btn" ngbNavLink>{{'info' | translate}}</a>
                <ng-template ngbNavContent>
                    <div class="info-lemma-wrapper" *ngIf="data.lemma">
                        <span>{{'metadataForLemma' | translate}} </span>
                        <evt-reading class="info-rdg" [data]="data.lemma"></evt-reading>
                        <span class="d-block ml-2" *ngFor="let metadata of rdgMetadata | keyvalue">
                            <span class="info-label" *ngIf="metadata.key !== 'id'">{{ metadata.key }}:</span> {{ metadata.value }}
                        </span>
                        <span class="d-block ml-2" *ngIf="(rdgMetadata | keyvalue).length === 0">
                            <span class="font-italic">{{'noDataAvailable' | translate}}</span>
                        </span>
                    </div>
                    <div>
                        <span class="more-info-label">{{'moreInfoAboutApp' | translate}}</span>
                        <ng-container *ngFor="let rdg of readings">
                            <div class="mb-2" *ngIf="(rdg.attributes | keyvalue).length !== 0">
                                <span>{{'metadataFor' | translate}} </span>
                                <evt-reading *ngIf="rdg.content.length !== 0" class="info-rdg" [data]="rdg"></evt-reading>
                                <span class="font-italic" *ngIf="rdg.content.length === 0">{{'omit' | translate}}</span>
                                <span class="d-block ml-2" *ngIf="rdg.attributes.wit">
                                    <span class="info-label">{{'wit' | translate}}</span> {{rdg.attributes.wit}}
                                </span>
                                <ng-container *ngFor="let metadata of rdgMetadata | keyvalue">
                                    <span class="d-block ml-2" *ngIf="metadata.key !== 'wit'">
                                        <span class="info-label">{{ metadata.key }}:</span> {{ metadata.value }}
                                    </span>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-template>
            </li>
            <li ngbNavItem="xml">
                <a class="app-detail-btn" ngbNavLink>{{'xml' | translate}}</a>
                <ng-template ngbNavContent>
                    <pre>{{ data.originalEncoding | xmlBeautify }}</pre>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="appEntryTab" class="tab-content"></div>
    </div>
</div>