<evt-panel [showSecondaryContent]="msDescOpen" [noPadding]="true"
    [hideHeader]="!showHeader"
    [hideFooter]="true">
    <div header-left>
        <!-- TODO: Add dropdowns for navigation -->
        <evt-page-selector [pageID]="pageID" (selectionChange)="currentPage$.next($event)"></evt-page-selector>
        <evt-ms-desc-selector #msDesc (selectionChange)="setMsDescID($event)" (msDescOpen)="setMsDescOpen($event)"></evt-ms-desc-selector>

    </div>
    <div header-right *ngIf="showSyncButton">
          <evt-button [active]="isSyncButtonActive === 'active'" [iconRight]="{icon: 'link', iconSet:'fas'}" (btnClick)="syncTextImage()"></evt-button>
    </div>

    <div content class="full-height">
        <evt-osd
            *ngIf="viewerData"
            [surface]="currentSurfaces$ | async"
            [viewerData]="viewerData" [options]="{showNavigationControl: true}"
            [page]="pageNumber$ | async"
            [pageElement]="currentPage$ | async"
            (pageChange)="updatePage($event)">
        </evt-osd>
        <p *ngIf="!viewerData">Found no source file</p>
    </div>

    <div secondary-content>
        <div *ngIf="msDescOpen">
            <evt-ms-desc [data]="currentMsDesc$ | async"></evt-ms-desc>    
        </div>
    </div>
</evt-panel>
<evt-nav-bar-image [panelNumber]="panelNumber" [currentIndexPage]="updatePageNumber$ | async" *ngIf="indipendentNavBar"
                   [showSinglePage]="true"
                   (changeIndexPage)="onChangedCurrentPage($event)" [ngClass]="{opened: true}" ></evt-nav-bar-image>