*[rend="strikethrough"] {
    text-decoration: line-through;
}

*[rend="overwritten"] {
    font-weight: bold;
}

*[rend="underline"] {
    text-decoration: underline;
}

*[rend="italic"] {
    font-style: italic;
}

*[rend="erasure"] {
    background-color: rgb(70, 70, 70);
}

*[rend="cross"] {
    text-decoration: line-through;
}

*[place="superscript"] {
    vertical-align: text-bottom;
}

evt-verse {
    display: block;
}

evt-page :not(evt-apparatus-entry-detail) .head {
    font-weight: bold;
    display: inline-block;
    padding: 0.5em 0.1em 0.5em 0em;
}

evt-page :not(evt-apparatus-entry-detail) .closer {
    display: block;
}

evt-page :not(evt-apparatus-entry-detail) .signed {
    display: inline-block;
    /* font-style: italic; */
}

evt-page :not(evt-apparatus-entry-detail) .retrace {
    font-weight: bolder;
}

evt-page :not(evt-apparatus-entry-detail) .verse-num {
    color:black !important;
}

evt-page :not(evt-apparatus-entry-detail) .verse-num:before {
    border:none !important;
    background: none !important;
}

.metamark[rend="line"] {
    display: block;
    border: 1px solid black;
    margin-top:-1em;
    margin-right:70%;
}

evt-reading evt-note,
evt-addition evt-note {
  display: none;
}

.fw {
    display: block;
}

[type="pageNum"][place="top_right"] {
    float:right;
}