.ab[rend="align-center"] {
    display: block;
    text-align: center;
}

*[rend="strikethrough"] {
    text-decoration: line-through;
}

*[rend="overwritten"] {
    font-weight: bold;
}

*[rend="underline"] {
    text-decoration: underline;
}

*[rend="italic"] {
    font-style: italic;
}

*[rend="erasure"] {
    background-color: rgb(70, 70, 70);
}

*[rend="cross"] {
    text-decoration: line-through;
}

*[rend="line_full_width"] {
    margin-bottom: 0.1rem;
    border-bottom: 1px solid black;
    display: block;
}

*[rend="sup"] {
    vertical-align: text-bottom;
}

*[place="superscript"] {
    vertical-align: text-bottom;
}

.metamark[rend="line"] {
    display: block;
    border: 1px solid black;
    margin-top:-1em;
    margin-right:70%;
}

.fw {
    display: block;
}

[type="pageNum"][place="top_right"] {
    float:right;
    margin-top: -1.5rem;
}

evt-reading evt-note,
evt-addition evt-note {
  display: none;
}

.flash-highlight {
  animation: flash-bg 1s ease-in-out 3, hold-yellow 0.4s ease forwards;
  animation-delay: 0s, 3s; /* second animation starts after the 3 flashes */
}

@keyframes flash-bg {
  0%   { background-color: transparent; }
  50%  { background-color: #ffeb3b80; }
  100% { background-color: transparent; }
}

@keyframes hold-yellow {
  from { background-color: transparent; }
  to   { background-color: #ffeb3b80; }
}

.clickable:hover {
    text-decoration: underline;
    cursor: pointer;
}