<nav class="navbar justify-content-between temp-header">
    <a class="navbar-brand">
        <img [src]="logoUrl" height="30" class="d-inline-block align-top me-2" alt="evt3 logo" (error)="setDefaultLogo()">
        <h1 class="edition-title"><span (click)="openEditionHome()" [class.pointer]="editionHome">{{ (title$ | async) | translate }}</span></h1>
        <a *ngIf="editionHome" [href]="editionHome" target="_blank"
            class="ms-2 edition-home-link">
            <evt-icon [iconInfo]="{icon: 'external-link-alt', iconSet: 'fas' }"></evt-icon>
        </a>
        <span class="ms-2 badge badge-pill badge-info inverted font-weight-normal edition-badge" *ngIf="editionConfig?.badge">{{editionConfig?.badge}}</span>
    </a>
    <div class="d-flex align-items-center">
        <evt-errors-button class="mx-3"></evt-errors-button>
        <evt-button additionalClasses="btn-no-border viewMode-btn" ariaLabel="{{ 'ariaLabels.switchToViewmode' | translate }}" aria-role="button"
            *ngFor="let viewMode of viewModes; trackBy: trackViewModes;" 
            [title]="viewMode.label" [active]="viewMode.id === (currentViewMode$ | async)?.id" [inverted]="true"
            (btnClick)="selectViewMode(viewMode)"
            [iconLeft]="{icon: viewMode.icon, iconSet: viewMode.iconSet, additionalClasses: 'viewMode-selector'}">
        </evt-button>
        <evt-button (btnClick)="toggleMainMenu($event)" [inverted]="true" [toggler]="true" aria-role="button" ariaLabel="{{ 'ariaLabels.showOptions' | translate }}"
            additionalClasses="btn-no-border" [active]="mainMenuOpened"
            [iconLeft]="{icon: 'ellipsis-v'}">
        </evt-button>
    </div>
</nav>

<evt-main-menu *ngIf="mainMenuOpened" (itemClicked)='handleItemClicked($event)'></evt-main-menu>