<nav class="navbar justify-content-between temp-header">
    <a class="navbar-brand">
        <img src="../../assets/images/logo.png" height="30" class="d-inline-block align-top" alt="">
        <span *ngIf="title">{{ title | translate:lang }}</span>
    </a>
    <div>
        <evt-button additionalClasses="btn-no-border viewMode-btn" 
            [active]="viewMode === currentViewMode" [inverted]="true"
            *ngFor="let viewMode of viewModes trackBy: viewMode?.id" [title]="viewMode.label"
            (btnClick)="selectViewMode(viewMode)"
            [iconLeft]="{icon: viewMode.icon, iconSet: 'evt', additionalClasses: 'viewMode-selector'}">
        </evt-button>
        <evt-button (btnClick)="toggleMainMenu()" [inverted]="true" [toggler]="true"
            additionalClasses="btn-no-border" [active]="mainMenuOpened"
            [iconLeft]="{icon: 'ellipsis-v'}">
        </evt-button>
    </div>
</nav>

<evt-main-menu *ngIf="mainMenuOpened" (itemClicked)=toggleMainMenu($event)></evt-main-menu>
<!-- TEMP -->
<evt-modal [headerIcon]="{icon: 'copyright', iconSet: 'fas'}" *ngIf="modalShown" (hide)="modalShown = false">
    <span title class="ml-2">{{ 'aboutEVT' | translate:lang }}</span>
    <p body class="p-3">
        Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna
        aliqua. Etiam habebis sem dicantur magna mollis euismod. Excepteur sint obcaecat cupiditat non proident culpa.
        Ab illo tempore, ab est sed immemorabili. Magna pars studiorum, prodita quaerimus.
    </p>
</evt-modal>