<ng-template #popContent>
    <evt-pinner [item]="data" pinType="Notes" [additionalStyle]="pinnerStyle"></evt-pinner>
    <div class="content">
        <evt-content-viewer *ngFor="let element of data.content" [content]="element">
        </evt-content-viewer>
    </div>
</ng-template>
<button #popover="ngbPopover" type="button" class="btn btn-link popover-toggle evt-trigger" [ngbPopover]="popContent"
    [autoClose]="'outside'" popoverClass="evt-note" container="body" [placement]="['auto']"
    (click)="onTriggerClicked($event)">
    <evt-icon class="evt-trigger-icon"
        [iconInfo]="{ icon: 'bars',  transform: 'shrink-5 up-1',  mask: ['fas', 'comment-alt'] }"></evt-icon>
</button>